@model Models.Booking

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lift.LiftNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lift.LiftNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Finish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Finish)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
